body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.top{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
    justify-content: space-around;
}
.mainWeather{
    padding: 2rem;
    max-width: 50rem;
    min-width: 20rem;

}
.searchContainer{
    max-width: 40rem;
    min-width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
.five-dayForcast{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    
}