body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.top{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
    justify-content: space-around;
}
.mainWeather{
    padding: 2rem;
    max-width: 50rem;
    min-width: 20rem;

}
.searchContainer{
    max-width: 40rem;
    min-width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
.five-dayForcast{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    padding: 1rem;
    
}
.wCard{
    max-width: 20rem;
    min-width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
border: solid 4px red;
padding: 1rem;
}
.past-search{
    list-style: none;
    padding: .5rem;
    border-radius: 6px;
    box-shadow: 3px 6px 6px rgba(0,0,0,0.6);
}
.past-search:hover{
    cursor: pointer;
    box-shadow: 3px 6px 6px rgba(231, 140, 140, 0.6)
}
.historySection{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}